<h1>Banco de Dados - A2</h1>
<h3>Fundação Getúlio Vargas - Escola de Matemática Aplicada </br>
Bacharelado em Ciência de Dados </br>
Disciplina: Banco de Dados </br>
Professor: Renato Rocha Souza</br>
Alunos: Gianlucca Devigili e Maisa O. Fraiz</h3>

In [11]:
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt
import chart_studio.plotly
import plotly.graph_objects as go 
from chart_studio.plotly import plot, iplot
%matplotlib inline
#from IPython.display import display
#from PIL import Image

In [14]:
edges = pd.read_csv("data/edges.csv", sep=',')
edges.head()

                   hero   comic
0  24-HOUR MAN/EMMANUEL  AA2 35
1  3-D MAN/CHARLES CHAN   AVF 4
2  3-D MAN/CHARLES CHAN   AVF 5
3  3-D MAN/CHARLES CHAN   COC 1
4  3-D MAN/CHARLES CHAN  H2 251

In [15]:
nodes = pd.read_csv("data/nodes.csv", sep=',')
nodes.head()

                   node   type
0               2001 10  comic
1                2001 8  comic
2                2001 9  comic
3  24-HOUR MAN/EMMANUEL   hero
4  3-D MAN/CHARLES CHAN   hero

In [17]:
hero_network = pd.read_csv("data/hero-network.csv", sep=',')
hero_network.head()

                  hero1                 hero2
0         LITTLE, ABNER        PRINCESS ZANDA
1         LITTLE, ABNER  BLACK PANTHER/T'CHAL
2  BLACK PANTHER/T'CHAL        PRINCESS ZANDA
3         LITTLE, ABNER        PRINCESS ZANDA
4         LITTLE, ABNER  BLACK PANTHER/T'CHAL