In [8]:
import sqlalchemy as sql
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt
import chart_studio.plotly as plotly
import plotly.graph_objects as go
from chart_studio.plotly import plot, iplot

In [14]:
df_edges = pd.read_csv("data/marvel-unimodal-edges.csv", delimiter = ",")
df_nodes = pd.read_csv("data/marvel-unimodal-nodes.csv", delimiter = ",")

In [3]:
df_nodes.head()

                        Id                    Label
0   Black Panther / T'chal   Black Panther / T'chal
1         Loki [asgardian]         Loki [asgardian]
2        Mantis / ? Brandt        Mantis / ? Brandt
3    Iceman / Robert Bobby    Iceman / Robert Bobby
4  Marvel Girl / Jean Grey  Marvel Girl / Jean Grey

In [4]:
df_edges.head()

                   Source                   Target  Weight
0  Black Panther / T'chal         Loki [asgardian]      10
1  Black Panther / T'chal        Mantis / ? Brandt      23
2  Black Panther / T'chal    Iceman / Robert Bobby      12
3  Black Panther / T'chal  Marvel Girl / Jean Grey      10
4  Black Panther / T'chal   Cyclops / Scott Summer      14

In [13]:
graph = nx.Graph()
nodes = set(df_nodes["Id"])
len(nodes)

TypeError: 'set' object is not subscriptable